@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generacja kodów 2FA";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Zapisz te kody w biezpiecznym miejscu</strong>
    </p>
    <p>
        Jeśli zgubisz urządzenie i nie będziesz miał kodów odzyskiwania, utracisz dostęp do konta.
    </p>
    <p>
        Generowanie nowych kodów odzyskiwania nie zmienia kluczy używanych w aplikacjach uwierzytelniających. Jeśli chcesz zmienić klucz
        używay w aplikacji uwierzytelniającej, powinieneś <a asp-page="./ResetAuthenticator">zrezetować swoje kody.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Generuj</button>
    </form>
</div>
